h2 {
	font-weight: bold;
	font-size: 40px;
}

body {
	background-color: #E0E0E0;
}

legend {
	font-weight: bold;
	font-size: 25px;
}

ooga[type=text] {
}

tel[type=number] {
}

textarea {
	width: 300px;
	height: 100%;
}